.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#canvas-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 1px solid #000;
}

#start-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#start-button,
#funny-mode-button,
#show-instructions-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

#start-button:hover,
#funny-mode-button:hover,
#show-instructions-button:hover {
  background-color: #45a049;
}

#funny-mode-button {
  margin-left: 10px;
}

#show-instructions-button {
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  /* Adjust the position and size of the start button */
  #start-menu {
    top: 90%;
    transform: translate(-50%, -100%);
  }
  #start-button {
    font-size: 16px;
    padding: 6px 12px;
  }
  /* Adjust the position of the other buttons */
  #funny-mode-button,
  #show-instructions-button {
    font-size: 12px;
    padding: 4px 8px;
    margin-top: 10px;
    margin-left: 0;
  }
}
